
#abc{
        border: solid black;width: 600px;height: 400px;
        border-bottom-style: dotted;
    border-bottom-width: thick;
    border-top-style: double;
    border-left-style: groove;
    border-right-style: inset;
    bor
    }
    h2{
        color: green;
        opacity: 0.6;
    }
    p{
        color: red;
    }
li{
    color: chocolate;
}
body{
    backface-visibility: hidden;
    background-color: antiquewhite;
    margin-bottom: auto;
}
img{
    border: 10px solid green;
     padding :10px;
    background-color: darkgray;
}

